body {
    background: linear-gradient(#efff0c 0%, #0033ff 100%);
    text-align: center;
    background-repeat: no-repeat;
    height: 800px;
}


p {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 20px;
    padding: 5px;
}


h1 {
    text-shadow: 2px 2px #0033ff;
    font-size: 20px;
}


img {
    border-radius: 50%;
    width: 250px;
}


.linebreak {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
 }
 
 #welcome {

 }