body {
    background: linear-gradient( #00ffff 0%, #ffff0f 100%);
    background-repeat: no-repeat;
    text-align: center;
}
p {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 20px;
    padding: 5px;
}
h1 {
    text-shadow: 2px 2px #0033ff;
    font-size: 20px;
}
img {
    border-radius: 50%;
    width: 250px;
}